@{
    ViewBag.Title = "Contact";
}<body background="~/Images/stonewall.jpg">
</body>
<h2>@ViewBag.Title.</h2>
<h3>Gregory Norris</h3>

<address>
    22859 Beech<br />
    Dearborn, MI 48124<br />
    <abbr title="Phone">P:</abbr>
    313.722.4368<br />
    <abbr title="GitHub">Github profile: github.com/vidget</abbr><br />
    <abbr title="Linkedin"><a href="https://www.linkedin.com/in/gregory-norris-22a81026">Linkedin Profile</a></abbr>
</address>

<address>
    <strong>eMail:</strong>   <a href="mailto:vidget@yahoo.com">vidget@yahoo.com</a><br />
 </address>