@{
    ViewBag.Title = "Home Page";
}
    <center><img alt="" src="~/Images/splashLogo.jpg" /></center>

    <div class="">
        
        <h4>Pit yourself against friend or foe in the classic battle of wits! </h4>

        <p><a href="~/Games/Play" class="btn btn-primary btn-lg">Play Now &raquo;</a></p>
    </div>




